Django==3.2
django-admin-confirm==0.2.2
django-cors-headers==3.6.0
django-debug-toolbar==3.2.4
django-filter==22.1
django-fsm==2.7.0
django-import-export==2.5.0
docutils==0.15.2
ecdsa==0.14.1
et-xmlfile==1.1.0
ez-setup==0.9
freezegun==1.1.0
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1